$white: #ebedea;
$black: #000000;
$gray: #434745;
$overlay-color: #303544;
$green: #3fb505;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$base-font: "Roboto_Medium", sans-serif;
$code-font: "LiberationMonoRegular",monospace;
// break point
$small: 750px;