---
layout: compress
---


<!DOCTYPE html>
<html style="scroll-behavior: smooth;">
{% include head.html %}


<body id="contacto-edu" style="scroll-behavior: smooth;">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="#contenido-home" class="logo"><img src="{{ site.url }}/images/edu.png"alt="Eduardo Cabrera Bláquez"></a>


        <h1>
          EDUARDO CABRERA
        </h1>
        </br>
        
        
        

        <h2>
          Contacta conmigo
        </h2>
        
        
        
        

        
        

      </div>
    </div>
    <canvas></canvas>


             
  </div>
   
  <div class="block-right"  style="background-color:#01a049;">
   

    
    
    	
<div >

</div>
      <div class="edu2">
        {{ content }}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
<a name="contenido-home">

  
  
</body>
  
</html>
 

